@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Merriweather", serif;
  font-style: normal;
  color: #3b3b3b;
  font-size: 14px;
  background: #f6f6f6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Karla", sans-serif;
}

a {
  font-family: "Karla", sans-serif;
}

p {
  font-weight: 300;
  line-height: 1.6;
}

.container-fluid {
  max-width: 1720px;
  width: 100%;
  margin-inline: auto;
}
